@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color: #F67280;
    --accent-color: #C06C84;
    --secondary-color: #6C5B7B;
    --tertiary-color: #355C7D;

    color: #f5f5f5;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
body{
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 10rem 1fr;
    
}
#sidebar {
    background-color: var(--primary-color);
    grid-row: 1/ 3;
    display: grid;
    grid-template-rows: 50px 1fr 2fr;
    padding: 20px;
    padding-right: 10px;
}

#title {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 5px;
    
}
#title > div {
    font-size: 2rem;
}
#title > svg {
    filter: invert(99%) sepia(5%) saturate(185%) hue-rotate(179deg) brightness(114%) contrast(92%);
}

li {
    display: grid;
    grid-template-columns: 30px 1fr;
    padding: 5px;
    font-size: 1.2rem;
    gap: 5px;
}

li > svg {
    filter: invert(99%) sepia(5%) saturate(185%) hue-rotate(179deg) brightness(114%) contrast(92%);
}
#header {
    background-color: var(--secondary-color);
    box-shadow: 0px 6px 6px -6px #000000;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1vw 3vw;

}
#content {
    background-color: var(--tertiary-color);
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

#searchbar{
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 15px;
}
#searchbar > input{
    border-style: none;
    border-radius: 10px;
    display: flex;
    height: 25px;
}
svg{
    filter: invert(74%) sepia(9%) saturate(5037%) hue-rotate(297deg) brightness(81%) contrast(81%);
}

#profile {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 15px;
    align-items: center;
    justify-content: end;
}

#welcome{
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, max-content); 
    gap: 30px;
    align-items: center;
}
.pfp{
    border-radius: 50%;
}
#greeting {
    align-items: center;
    font-size: 2em;
}

#greeting > div:nth-child(1){
    font-size: 1rem;
}


#buttons {
    display: grid;
    grid-template-columns: repeat(3,max-content);
    align-items: center;
    gap: 20px;
    justify-content: end;
}
#buttons > button {
    background-color: var(--accent-color);
    font-size: 1rem;
    border-style: none;
    color: whitesmoke;
    border-radius: 25px;
    padding: 0.5rem;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

#content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, max-content);
    padding: 20px;
    gap: 30px;
}

#projects {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, max-content);
    gap: 20px;
    
}

#projects > div:nth-child(1){
    grid-column: 1 / 3;
}
.card {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 10px 1fr;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #000000;
}

.card > div:first-child {
    background-color: var(--accent-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card-content {
    display: grid;
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
}
.card-content > div:first-child{
    grid-row: 1 / 2;
    grid-column: 1/ 3;
}

.card-content > p {
    grid-row: 2 / 3;
    grid-column: 1/ 3;
    margin: 0;
    font-weight: 300;
}
.card-images {
    padding-top: 20px;
    grid-row: 3 / 4;
    grid-column: 2/ 3;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 5px;
}

#announcements {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 20px;
}

.announcements-content {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 6px #000000;
}

.announcements-content > div{
    padding-top: 10px;
}

.content {
    font-weight: 300;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 10px;
    
}

#trending {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 10px;
}
#trending > div:last-child {
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 2px 2px 6px #000000;
}

.user {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.user-info {
    font-size: 0.8rem;
}

.user-info > div:last-child {
    font-weight: 300;
}
